apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: playground
  # annotations:
  #   networking.gke.io/load-balancer-type: "Internal" # this is to make the service internal
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
