name: Deploy to AWS EKS

on:
  push:
    branches: [main]

env:
  ECR_REPOSITORY: k8s-test
  EKS_CLUSTER_NAME: test-cluster
  AWS_REGION: us-east-1
  IMAGE_TAG: ${{ github.sha }}
  DEPLOYMENT_NAME: frontend-deployment
  NAMESPACE: playground

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY/app:$IMAGE_TAG -t $ECR_REGISTRY/$ECR_REPOSITORY/app:latest -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY/app:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY/app:latest
          echo "appimage=$ECR_REGISTRY/$ECR_REPOSITORY/app:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Connect to EKS Cluster
        run: aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region $AWS_REGION

      - name: Replace Image in Deployment YAML
        run: |
          sed -i "s|image:.*|image: ${{ steps.build-image.outputs.appimage }}|g" aws-eks-manifests/deployment.yml
          # Replace certificate ARN in service-https.yml
          sed -i "s|FRONTEND_CERT_ARN_PLACEHOLDER|${{ secrets.AWS_FRONTEND_ACM_CERT_ARN }}|g" aws-eks-manifests/service-https.yml

      - name: Pre Check
        run: |
          # See what would be applied without actually doing it
          echo "DRY RUN"
          kubectl apply -f aws-eks-manifests/ -R --dry-run=client  
          # Or use diff to see changes
          echo "DIFF CHECK"
          kubectl diff -f aws-eks-manifests/ -R || true

      - name: Release Resources to GKE
        run: |
          # apply files one by one
          # kubectl apply -f aws-eks-manifests/deployment.yml -n ${{ env.NAMESPACE }}
          # kubectl apply -f aws-eks-manifests/service.yml -n ${{ env.NAMESPACE }}

          # create namespace if it doesn't exist
          kubectl create namespace ${{ env.NAMESPACE }} || true

          # apply all files at once
          kubectl apply -f aws-eks-manifests/ -R

          # Wait for rollout to complete (safe best practice)
          kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }} --timeout=180s

      - name: List Everything
        run: |
          sleep 20
          kubectl get all -n ${{ env.NAMESPACE }}
